ServerSocket/.classpath
ServerSocket/.project
ServerSocket/.settings/
ServerSocket/.vscode/
ServerSocket/target/

SocketClient/.classpath
SocketClient/.project
SocketClient/.settings/
SocketClient/.vscode/
SocketClient/target/